/*.nav-sidebar .nav-header {*/
/*}*/

.table-hover tbody tr:hover td {
    background-color: #2e4761;
    color: #fff;
}

.select{
     margin-left: 10px;   
}

#buttonconfirm {
    display:none;
}

#nameError{
    display:none;
}

#downError{
    display: none;
}

#upError {
    display:none;
}

#downvelError{
    display: none;
}

#upvelError {
    display:none;
}

#buttonconfirmEdit {
    display:none;
}

#downErrorEdit{
    display: none;
}

#upErrorEdit{
    display:none;
}

#downvelErrorEdit{
    display: none;
}

#upvelErrorEdit{
    display:none;
}

